button {
  padding: 8px 20px;
  background: rgba(255,255,255,0);
  border: 1px solid rgba(#fff, 0.37);
  outline: none;
  margin-top: 15px;
  margin-right: 10px;
}
button:hover {
  background: rgba(#fff, 0.1)
}

