$borderColor: rgb(255, 255, 255);

.dropZone {
  border: 3px solid rgba($borderColor, 0);
  width: 400px;
  height: 400px;
  transition: border 0.4s ease-in;
}
.dropZone.isActive {
  border: 3px dashed rgba($borderColor, 0.6)
}
