.editor {
  height: 100%;
  canvas {
    width: 400px;
    height: 400px;
  }
}
.editor .editor-canvasContainer {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  height: 400px;
  z-index:1
}

.editor-painterContainer {
  z-index:2 !important
}

.editor {
  h5 {
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    padding: 15px 20px;
    background: rgba(#fff, 0.2);
  }
}

.editor aside {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  width: 30%;
  height: 100%;
  background: rgba(255,255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.2)
}

.brush {
  width: 30px;
}
.paintBrush {
  width: 32px;
}

.editor .previewCanvas {
  position: absolute;
  left: 3px;
  z-index: -1;
}
.editor section {
  position: relative;
  float: left;
  width: 68%;
}

.canvasPainter {
  width: 400px;
  height: 400px;
  background: rgb(119, 117, 155);
}

.paintBlock {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25%;
}

.paintBlock-hue {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 1s;
  transform: scale(1)
}
.paintBlock-hue:hover {
  transform: scale(1.2)
}



