.editor {
  height: 100%;
}
.editor .editor-canvasContainer {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 320px;
  height: 320px;
  z-index:1
}

.editor-painterContainer {
  z-index:2 !important
}

.editor aside {
  float: right;
  width: 30%;
  height: 100%;
  background: rgba(255,255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.2)
}

.editor section {
  position: relative;
  float: left;
  width: 68%;
}

.canvasPainter {
  width: 320px;
  height: 320px;
  background: rgb(119, 117, 155);
}

.paintBlock {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25%;
}

.paintBlock-hue {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 1s;
  transform: scale(1)
}
.paintBlock-hue:hover {
  transform: scale(1.2)
}



