.newArtLink {
  svg {
    stroke: white;
    height: 26px;
    float: ri;
    position: absolute;
    top: 16px;
    right: 25px;
  }

  path {
    fill: white;
  }
}

.profileLink {
  position: absolute;
  right: 62px;
  top: 12px;
  min-width: 30px;
  min-height: 30px;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(#fff, 0.2)
  }
}
