.toolOptions {
  margin-left: 10%;
}

.toolOptions-container {
  position: absolute;
  top: 51px;
  bottom: 0;
  right: 0;
  overflow: auto;
  left: 0;
}

.toolOptions {
  h6 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 100;
  }

  input {
    width: 80%
  }
}
