.nav-innerContainer {
  padding: 20px 30px;
}

.nav {
  .triangle {
    font-family: helvetica neue;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 9;
}
